/* ===== Fonts ===== */
@font-face {
  font-family: 'Font';
  src: url('font/NotoSansArabic-SemiBold.ttf');
}

* {
  font-family: 'Font', Arial, sans-serif;
}

/* ===== Global Styles ===== */
html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background: url('img/background.webp') no-repeat center center fixed;
  background-size: cover;
  direction: rtl;
  text-align: center;
  min-block-size: 100vh;
  display: ruby-base-container;
  place-content: center;
}

/* ===== Layout ===== */
.content {
  padding: 20px;
}

.center {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

/* ===== Top Bar ===== */
.top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;   
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: black;
  z-index: 1000;
}

.top-bar::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.top-bar div {
  padding: 10px 20px;
  border-radius: 4px;
}
/* ===== Images & Icons ===== */
.logo,
.icon {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  width: 60%;
}

.icon {
  width: 10%;
  height: auto;
}

/* ===== Text & Typography ===== */
.header_text,
.bottom_tex {
  display: block;
  width: 50%;
  height: auto;
}

.header_text {
  margin-left: 50%;
  margin-right: auto;
}

.bottom_tex {
  margin-left: auto;
  margin-right: 50%;
}

.center_text {
  text-align: center;
  border: 3px solid transparent; /* Assuming the border will be styled later */
}

.text {
  font-size: 26px;
}

hr {
  border: none;
  border-top: 1px dotted #f00;
  width: 50%;
}

/* ===== Lists ===== */
ul.right {
  list-style-type: disc;
  margin-left: 30px;
  padding-left: 20px;
}

/* ===== Buttons ===== */
.format_text .eStore_subscribe_button {
  border: none;
}

.eStore_button_object input {
  background: none;
  border: none;
}

/* ===== Cards ===== */
.card {
  width: 150px;
  height: 150px; /* Corrected unit */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ===== scroll-button  ===== */
.scroll-button {
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 50px;
  background: transparent;
  border: 2px solid #000;
  color: #ffffff;
  border-radius: 25%;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.scroll-button:hover {
  background: #ffffff;
  color: #000000;
}

.Mbutton{
  position: fixed;
  top: 0px;
}